
<h1 style="color: whitesmoke">Ingreso a Aplicación de Entorno Educativo</h1>
<br>
<div class="grid justify-content-center align-items-between z-10"style="color: rgba(230, 240, 230, 0.8)" >
    <div class="col-20">
            <mat-label>Ingrese Email</mat-label>
            <input matinput>
    </div>
    <div class="col-20">
            <mat-label>Contrasena</mat-label>
            <input matinput>
    </div>
</div>
<br>
<div class="col-10 d-flex justify-content-end mb-3">
    <button (click)="login()"  mat-flat-button color="primary">Iniciar Sesión</button>   
</div>



