<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let teacher"> 
        {{teacher.id}} 
      </td>
    </ng-container>
  
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef>Nombre Completo</th>
      <td mat-cell *matCellDef="let teacher"> 
        {{teacher | fullname: "uppercase"}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="course">
      <th mat-header-cell *matHeaderCellDef> Curso </th>
      <td mat-cell *matCellDef="let teacher"> 
        {{teacher.course}} 
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let teacher">
          {{teacher.email}} 
        </td>
      </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let teacher">
              <button (click)="viewDetail(teacher.id)" mat-icon-button color="accent">
                <mat-icon>visibility</mat-icon>
              </button>
              <button (click)="editCourse.emit(teacher)" mat-icon-button color="primary">
                  <mat-icon>edit</mat-icon>
              </button>
              <button (click)="deleteCourse.emit(teacher.id)" mat-icon-button  color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
