<h1 mat-dialog-title>
    {{ teacher ? "Editando Profesor" : "Agregar nuevo Profesor" }}
</h1>

<div mat-dialog-content>
    <form>
        <div class="row">
            <div class="col-6">
                <mat-form-field class="w-100">
                    <mat-label> Nombre </mat-label>
                        <input formControlname ="name" matInput/>
                        <mat-error>
                            {{ teacherForm.get("name")?.errors | formErrors }}                       
                        </mat-error>
                </mat-form-field>
            </div>       
            <div class="col-6">
                <mat-form-field class="w-100">
                    <mat-label> Apellido </mat-label>
                        <input formControlname="lastName" matInput/>
                        <mat-error>
                            {{ teacherForm.get("lastName")?.errors | formErrors }}                       
                        </mat-error>                       
                </mat-form-field> 
            </div>
            <div class="col-6">
                <mat-form-field class="w-100">
                    <mat-label> Curso </mat-label>
                        <input formControlname ="course" matInput/>
                        <mat-error>
                            {{ teacherForm.get("course")?.errors | formErrors }}                       
                        </mat-error>                       
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="w-100">
                    <mat-label> Email </mat-label>
                        <input formControlname="email" matInput/>
                        <mat-error>
                            {{ teacherForm.get("email")?.errors | formErrors }}                       
                        </mat-error>                       
                </mat-form-field> 
            </div>
        </div>
    </form>
</div>

<div mat-dialog-actions>
  <button (click)="onSubmit()" mat-button> Guardar cambios </button>
  <button mat-button mat-dialog-close> Cancelar </button>
</div>

