<mat-drawer-container class="example-container" autosize>

<!-- SIDEBAR -->
        <mat-drawer
        style="width: 200px"
        [opened]="showSidebar" 
        #drawer 
        class="example-sidenav" 
        mode="over" 
        position="end">
        <app-sidebar></app-sidebar>
        </mat-drawer>
      
  
<!-- TOOLBAR -->
  <div class="example-sidenav">
          <app-toolbar (toggleSidebar)="showSidebar = !showSidebar "></app-toolbar>
  </div>
  <main style="padding: 1rem">
    <app-users></app-users>

  </main>
<!-- CONTENIDO -->
    

</mat-drawer-container>
